 body{
   background-color: cadetblue;
   box-sizing: border-box;
 }
 
 #game{
   width: 100%;
   height:80vh;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   

 }
 #game div {
  border: 1px solid black;
  width: 25%;
  height: 25%;
  margin: 10px;
  background-color: black;
  color:wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:80%;
 
} 
h1{
  text-align:center;
  color:rgb(19, 19, 75);
}